html,
body {
  padding: 1em;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* { box-sizing: border-box; }

main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border-radius: 4px;
}

footer {
  color: #555;
  font-size: .6em;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.icons-credits {
  padding-top: 1em;
  text-align: center;
}

footer a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
}

.link {
  padding: 2em;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
}

.link-data {
  overflow: hidden;
  flex-grow: 1;
}

.link-title {
  margin: 0;
  font-weight: normal;
}

.link-url {
  margin: 0;
  margin-top: .5em;
  color: #999;
  font-size: .7em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sharer {
  padding: 2em;
  padding-top: 1em;
}

.sharer-title {
  color: #999;
  margin: 0;
  margin-bottom: 1em;
  font-weight: normal;
  font-size: 1em;
}

.share-btn {
  background-color: #fff;
  color: #555;
  display: inline-block;
  font-size: 30px;
  height: 40px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 40px;
}

.share-btn-img {
  width: 40px;
  height: 40px;
}

.share-btn-md:after {
  bottom: 0;
  content: 'MD';
  position: absolute;
  right: 0;
  font-size: 10px;;
}

.share-btn-fl:after {
  bottom: 0;
  content: '</>';
  position: absolute;
  right: 0;
  font-size: 10px;;
}

.bookmarklet-wrapper {
  padding: 2em;
  border-bottom: 1px solid #eee;
  color: #555;
}

.bookmarklet {
  margin-right: 1em;
  text-decoration: none;
  background: #555;
  color: #f4f4f4;
  padding: .5em 1em;
  border-radius: 4px;
  box-shadow: 0 3px 3px rgba(0,0,0,.2);
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.bookmarklet:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.bookmarklet-desc {
  display: inline-block;
}

.shake {
  animation: shake .2s;
  animation-iteration-count: 2;
}

@keyframes shake {
  0%  { transform: translate3d(-3px, 0 ,0); }
  20% { transform: translate3d(4px, 0 ,0); }
  40% { transform: translate3d(-4px, 0 ,0); }
  60% { transform: translate3d(5px, 0 ,0); }
  80% { transform: translate3d(-4px, 0 ,0); }
}

